* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #202124;
    font-family: 'Roboto', sans-serif;
    color: #E8EAED;

}


.container {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 100%;
    max-width: 500px;
}

.search-menu {
    width: 100%;
    max-width: 600px;
    position: relative;
}

.search-bar {
    border: 2px solid #5F6368;
    border-radius: 32px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    margin-top: 32px;
}

.search-bar:hover
.search-bar:focus-within {
    background-color: #303134;
    border-color: #303134;
    box-shadow: 0px 0px 4px 2px #1F2022;
    border-radius: 24px 24px 0 0;
}

.search-bar:focus-within{
    border-radius: 24px 24px 0 0;

}



.search-icon,
close-icon {
    width: 20px;
}


.close-icon {
    display: none;
}


.search-bar:focus-within {
    .close-icon {
        display: block;
    }

    .suggestion-menu {
        display: block;
    }
}


.search-bar input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: inherit;
    padding: 18px;
    font-size: 18px;
    font-family: inherit;
}


.suggestion-menu {
    border-radius: 0 0 24px 24px;
    background: #303134;
    box-shadow: 0px 6px 4px 2px #1F2022;
    padding: 0 0 16px;
    display: none;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.top-border{
    border-top: 1px solid #5F6368;
    margin-inline: 24px;
    margin-bottom: 8px;
} 

.suggestion-menu p {
    margin: 0;
    padding: 8px 24px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 16px;
}


.search-bar:focus-within+.suggestion-menu {
    display: block;
}


.doodle-shapes{
    position: absolute;
    right: 0;
    bottom: 0;
}


.button-section{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


.button-section button{
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    color: white;
    background-color: #5f636848;
    cursor: pointer;
}

@media (max-width: 700px){
    .container{
        padding: 1rem;
    }
}


@media (max-width: 400px){
    .doodle-shapes{
        display: none;
    }
}